frontend kubernetes
    bind {{ ip_haproxy }}:{{ kube_api_port }}
    option tcplog
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    default_backend kubernetes-master-nodes

backend kubernetes-master-nodes
    mode tcp
    balance roundrobin
    option tcp-check
    {%for master_node in kube_master%}
server {{ master_node }}:{{ kube_api_port }} check fall 3 rise 2
    {%endfor%}
    # server master-1 172.20.2.162:6443 check fall 3 rise 2
    # server master-2 172.20.2.82:6443 check fall 3 rise 2
    # server master-3 172.20.2.153:6443 check fall 3 rise 2

frontend http
    bind {{ ip_haproxy }}:{{ http_port }}
    option tcplog
    mode tcp
    timeout connect 10s
    timeout client 1m
    timeout server 1m
    default_backend http-master

backend http-master
    mode tcp
    balance roundrobin
    option tcp-check
{%for master_node in kube_master%}
    server {{ master_node }}:{{ ingress_controller_port }} check fall 3 rise 2
{%endfor%}
{%for worker_node in kube_worker%}
    server {{ worker_node }}:{{ ingress_controller_port }} check fall 3 rise 2
{%endfor%}
    # server master-1 172.20.2.162:30298 check fall 3 rise 2
    # server master-2 172.20.2.82:30298 check fall 3 rise 2
    # server master-3 172.20.2.153:30298 check fall 3 rise 2
    # server node-1 172.20.2.25:30298 check fall 3 rise 2
    # server node-2 172.20.2.152:30298 check fall 3 rise 2 